$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

#liveview {
  position: absolute;
  top: 0;
  z-index: -1;
}
