<img id="liveview" ng-src="{{liveview}}"></img>

<button class="btn btn-default" ng-click="startLiveview()">Start liveview</button>
<button class="btn btn-default" ng-click="stopLiveview()">Stop liveview</button>
<br><br>

<button class="btn btn-default" ng-click="zoomIn()">Zoom in</button>
<button class="btn btn-default" ng-click="zoomOut()">Zoom out</button>
<br><br>

<button class="btn btn-primary" ng-click="takePhoto()">Take a photo</button>
<br><br>

<div ng-repeat="photo in photos">
  <img ng-src="{{photo}}" width="160">
</div>
